core.autocrlf=false

**/* = linguist-detectable=false diff
/* = linguist-documentation=true linguist-detectable=false diff
/*.sh = linguist-documentation=false linguist-vendored=true
/manual/* = linguist-documentation=true linguist-detectable=true
/manual/**/* = linguist-documentation=true linguist-detectable=true
/manual/extended/plaintext/* = linguist-detectable=false
/manual/extended/plaintext/**/* = linguist-detectable=false
/src/* = linguist-vendored=false linguist-documentation=false linguist-detectable=true
/src/**/* = linguist-vendored=false linguist-documentation=false linguist-detectable=true

*.c = linguist-language=C
*.h = linguist-language=C
*.cc = linguist-language=C++
*.hh = linguist-language=C++
*.m = linguist-language=Objective-C
*.mm = linguist-language=Objective-C++
*.m4 = linguist-language=M4
# *.pas = linguist-language=Pascal
# *.p = linguist-language=Pascal
# *.pp = linguist-language=Pascal
*.a68 = linguist-language=Algol
*.icn = linguist-language=icon
*.u = linguist-language=unicon
# *.awk = linguist-language=Awk
*.pl = linguist-language=Perl
*.cl = linguist-language=Lisp
*.scm = linguist-language=Scheme
*.sno = linguist-language=SNOBOL4
# *.bas = linguist-language=BASIC
*.apl = linguist-language=APL
# *.fth = linguist-language=forth 
*.asm = linguist-language=assembly
# *.lua = linguist-language=lua
# *.py = linguist-language=python
# *.js = linguist-language=javascript
# *.sh = linguist-language=Shell
# *.lex = linguist-language=Lex
# *.y = linguist-language=Yacc
make = linguist-language=makefile
*.cmake = linguist-language=CMake
CMakeLists.txt = linguist-language=CMake
# *.ini = linguist-language=INI
# *.tab = linguist-language=tsv
# *.tsv = linguist-language=tsv
# *.csv = linguist-language=csv
# *.json = linguist-language=json
# *.xml = linguist-language=xml
# *.yaml = linguist-language=yaml
*.pseudo = linguist-language=clike
*.messy = linguist-language=clike
# *.man.* = linguist-language=roff
# *.html = linguist-language=HTML
# *.css = linguist-language=CSS
# *.txt = linguist-language=text
*.hex = binary
*.bin = binary
*.raw = binary
*.r8 = binary
*.r16 = binary
*.dat = binary
*.tar = binary
*.tar.* = binary
*.midi = binary
*.nfo = binary linguist-language=text
*.dump = linguist-language=json
*.iwfcl = linguist-language=lisp
*.midibas = linguist-language=basic
