core.autocrlf=false
*.c = linguist-language=C linguist-vendored=false diff
*.h = linguist-language=C linguist-vendored=false diff
*.cc = linguist-language=C++ linguist-vendored=false diff
*.hh = linguist-language=C++ linguist-vendored=false diff
*.m = linguist-language=Objective-C linguist-vendored=false diff
*.mm = linguist-language=Objective-C++ linguist-vendored=false diff
*.m4 = linguist-language=M4 linguist-vendored=false diff
*.pas = linguist-language=Pascal linguist-vendored=false diff
*.p = linguist-language=Pascal linguist-vendored=false diff
*.pp = linguist-language=Pascal linguist-vendored=false diff
*.a68 = linguist-language=Algol linguist-vendored=false diff
*.icn = linguist-language=icon linguist-vendored=false diff
*.u = linguist-language=unicon linguist-vendored=false diff
*.awk = linguist-language=Awk linguist-vendored=false diff
*.pl = linguist-language=Perl linguist-vendored=false diff
*.cl = linguist-language=Lisp linguist-vendored=false diff
*.scm = linguist-language=Scheme linguist-vendored=false diff
*.sno = linguist-language=SNOBOL4 linguist-vendored=false diff
*.bas = linguist-language=BASIC linguist-vendored=false diff
*.apl = linguist-language=APL linguist-vendored=false diff
*.fth = linguist-language=forth  linguist-vendored=false diff
*.asm = linguist-language=assembly linguist-vendored=false diff
*.lua = linguist-language=lua linguist-vendored=false diff
*.py = linguist-language=python linguist-vendored=false diff
*.js = linguist-language=javascript linguist-vendored=false diff
*.sh = linguist-language=Shell linguist-vendored=false diff
*.lex = linguist-language=Lex linguist-vendored=false diff
*.y = linguist-language=Yacc linguist-vendored=false diff
make = linguist-language=makefile linguist-vendored=false diff
*.cmake = linguist-language=CMake linguist-vendored=false diff
CMakeLists.txt = linguist-language=CMake linguist-vendored=false diff
*.ini = linguist-language=INI linguist-vendored=false diff
*.tab = linguist-language=tsv linguist-vendored=false diff
*.tsv = linguist-language=tsv linguist-vendored=false diff
*.csv = linguist-language=csv linguist-vendored=false diff
*.json = linguist-language=json linguist-vendored=false diff
*.xml = linguist-language=xml linguist-vendored=false diff
*.pseudo = linguist-language=text linguist-documentation=false linguist-vendored=false
*.messy = linguist-language=text linguist-documentation=false linguist-vendored=false
*.man.* = linguist-documentation=true
*.html = linguist-documentation=true
*.css = linguist-language=CSS linguist-documentation=true
*.txt = linguist-documentation=true linguist-vendored=false diff
*.md = linguist-documentation=true
notes/* = linguist-documentation=true
*.hex = binary diff linguist-vendored=false
*.bin = binary diff linguist-vendored=false
*.raw = binary diff linguist-vendored=false
*.r8 = binary diff linguist-vendored=false
*.r16 = binary diff linguist-vendored=false
*.dat = binary diff linguist-vendored=false
*.tar = binary diff linguist-vendored=false
*.tar.* = binary diff linguist-vendored=false
*.midi = binary diff linguist-vendored=false
*.nfo = binary diff linguist-documentation=true linguist-vendored=false