core.autocrlf=false
*.c = linguist-language=C
*.h = linguist-language=C
*.cc = linguist-language=C++
*.hh = linguist-language=C++
*.pas = linguist-language=Pascal
*.p = linguist-language=Pascal
*.a68 = linguist-language=Algol linguist-vendored=false diff
*.awk = linguist-language=Awk
*.pl = linguist-language=Perl
*.cl = linguist-language=Lisp
*.scm = linguist-language=Scheme
*.sno = linguist-language=SNOBOL4 linguist-vendored=false diff
*.bas = linguist-language=BASIC linguist-vendored=false diff
*.apl = linguist-language=APL linguist-vendored=false diff
*.fth = linguist-language=forth  linguist-vendored=false diff
*.asm = linguist-language=assembly
*.lua = linguist-language=lua
*.py = linguist-language=python
*.js = linguist-language=javascript
*.sh = linguist-language=Shell
make = linguist-language=makefile
*.ini = linguist-language=INI linguist-vendored=false diff
*.tab = linguist-language=tsv linguist-vendored=false diff
*.tsv = linguist-language=tsv linguist-vendored=false diff
*.csv = linguist-language=csv linguist-vendored=false diff
*.json = linguist-language=json linguist-vendored=false diff
*.xml = linguist-language=xml linguist-vendored=false diff
*.pseudo = linguist-language=text linguist-documentation=false linguist-vendored=false
*.messy = linguist-language=text linguist-documentation=false linguist-vendored=false
*.man.* = linguist-documentation=true
*.html = linguist-documentation=true
*.txt = linguist-documentation=true linguist-vendored=false diff
*.md = linguist-documentation=true
notes/* = linguist-documentation=true
*.hex = binary diff linguist-vendored=false
*.bin = binary diff linguist-vendored=false
*.raw = binary diff linguist-vendored=false
*.r8 = binary diff linguist-vendored=false
*.r16 = binary diff linguist-vendored=false
*.dat = binary diff linguist-vendored=false
*.tar = binary diff linguist-vendored=false
*.tar.* = binary diff linguist-vendored=false
*.midi = binary diff linguist-vendored=false
*.nfo = binary diff linguist-documentation=true linguist-vendored=false