img {
	image-rendering: pixelated;
}
body {
	font-size: 100%;
	background-color: white;
	color: black;
}
blockquote {
	border-style: solid;
	border-width: 1px 1px 1px 2px;
}
code {
	display: inline;
	font-family: monospace;
}
var {
	font-family: serif;
	font-variant: small-caps;
}
em {
	background-color: yellow;
	font-style: oblique;
}
hr {
	border-style: solid;
	border-width: 1px;
} 
pre {
	display: block;
	white-space: pre-wrap;
	border-style: solid;
}
strong {
	display: block;
	background-color: salmon;
	border-style: dashed;
	border-color: red;
	border-width: 1px 1px 1px 1px;
}
kbd {
	display: inline;
	font-family: monospace;
	border-style: outset;
	border-width: 2px 3px 3px 3px;
}
tt {
	display: block;
	white-space: pre-wrap;
	border-style: solid;
	background-color: black;
	color: lime;
	border-color: beige;
	border-style: solid;
	border-width: 2px 3px 2px 3px;
}
.oxturn {
	transform: scale(-1, 1);
}
